// Add custom font
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?1p6aq9');
    src:    url('../fonts/icomoon.eot?1p6aq9#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?1p6aq9') format('truetype'),
        url('../fonts/icomoon.woff?1p6aq9') format('woff'),
        url('../fonts/icomoon.svg?1p6aq9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$font-family-base: 'Raleway', sans-serif;

// Import bootstrap and fontawesome
@import "bootstrap";
@import "font-awesome";

// Bootstrap Starter Template Styles
body {
  padding-top: 50px;
}

.custom-icon {
	font-size:34px;
	line-height: 70px;
}

.navbar-nav>li>a {
    height: 70px;
    line-height: 70px;
    padding: 0 15px;
    margin: 0;
}

.navbar-brand {
	padding: 0px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#images-container {
    width: 100%;
    min-height: 600px;
    display: block;
    background: #eee;
    background-size: cover;
    max-width: 100%;
}

#slider-wrap {
    margin: 60px 0;
    position: relative;
}

#slider {
  margin:10px 0;
  position: relative;
}

.ui-slider-horizontal {
    height: 4px !important;
    top: 3px !important;
    background: #ccc !important;
    border: none !important;
}

.ui-slider .ui-slider-handle {
    width: 40px !important;
    height: 60px !important;
    background: transparent !important;
    margin-left: -13px !important;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -10px !important;
}

.slider-ball-wrap {
	width: 14px;
    height: 14px;
    position: absolute;
    left: 0;
    top: -21px;
}

.slider-ball-wrap small {
	color:#ccc;
}

.slider-ball-wrap .slider-ball {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #ccc;
}

#header {
	background: url("../img/home_image.png");
    min-height: 300px;
    background-size: cover;
}

.main-header h1 {
	color: white;
    margin: 30px auto;
    width: 100%;
    text-align: center;
    padding: 40px 0px;
    border-bottom: 2px solid #2cc3f9;
}

.main-header p {
	color: white;
    font-size: 16px;
    text-align: center;
    padding: 20px 0px 20px 0px;
    border-bottom: 2px solid #2cc3f9;
    margin: 0px 0px 40px 0px;
}

.icon-bayer:before {
    content: "\e900";
}
.icon-bus:before {
    content: "\e901";
}
.icon-driving_vision:before {
    content: "\e902";
}
.icon-home:before {
    content: "\e903";
}
.icon-normal_vision:before {
    content: "\e904";
}
.icon-severely_sight:before {
    content: "\e905";
}
.icon-sight_impaired:before {
    content: "\e906";
}
.icon-station:before {
    content: "\e907";
}
.icon-traffic_light:before {
    content: "\e908";
}